# Entorno virtual (la carpeta que ya tienes)
venv/
ENV/
env/

# Variables de entorno (¡Súper importante para tu API Key!)
.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Extensiones de editores
.vscode/
.idea/